
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Lato", sans-serif;
  line-height: 1.1em;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: none; 
  font-weight: bold;
}
.reveal p {
  line-height: 1.4em;
}
.reveal ul li {
  line-height: 1.4em;
}
.reveal li ul {
	margin-top: 20px;
}
.reveal li li {
  font-size: 80%;
  color: #ccc;
}

.reveal h1 { font-size: 2.11em; color: #fff177; }
.reveal h2 { font-size: 2.11em;	}
.reveal h3 { font-size: 1.55em;	}
.reveal h4 { font-size: 1em; }

.reveal strong { color: #fff177; }
.reveal s { color: #999; }
.reveal code { color: #fff177; padding: 0 10px;}

.reveal a { color: #fff177 !important; }

